<!--
  Tasklist-Template
  Template for html-main part. (Everything on the right side under "Aufgabenlisten")
-->
<!--Shows only a tasklist, when it was selected by user-->
<mat-card>
  <div id="tasks"> 
    <div *ngIf="tasklist != null">
      <!--Tasklist-name with two-way-binding, for easy name changing-->
      <h1>
        <mat-form-field id="tasklistName">
          <input matInput [(ngModel)]="tasklist.tasklist_name">
        </mat-form-field>
      </h1>
      <table id="tableTasklist">
        <!--Shows every task with its attributes in selected tasklist-->
        <div *ngFor="let task of tasklist.ownTasks">
          <!--<div style="display: none;" [hidden]="deactivateDoneTasks(task)"></div>-->
          <tr>
            <td>Aufgabe:</td>
            <td>
              <mat-form-field class="tasklist">
                <input matInput [disabled]="deactivateDoneTasks(task)" [(ngModel)]="task.taskname" placeholder="Aufgabenname">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Beschreibung:</td>
            <td>
              <mat-form-field class="tasklist">
                <textarea matInput placeholder="Beschreibung" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [disabled]="deactivateDoneTasks(task)" [(ngModel)]="task.description"></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>Umfang:</td>
            <td><mat-slider color=primary min="1" max="5" [disabled]="deactivateDoneTasks(task)" [(ngModel)]="task.scope"></mat-slider> {{task.scope}}: {{scopeMeaning[task.scope]}} </td>
          </tr>
          <tr>
            <td>Abgabetermin:</td>
            <td>
              <mat-form-field class="tasklist">
                <input matInput [matDatepicker]="picker1" [disabled]="deactivateDoneTasks(task)" [(ngModel)]="task.deadline">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </td> 
          </tr>
          <tr>
            <td>Status:</td>
            <!--<td><input [disabled]="taskDone" [(ngModel)]="task.status"></td>-->
            <td>
              <mat-select [(ngModel)]="task.status" [disabled]="taskDone" placeholder="Fortschritt">
                <mat-option value="offen" >offen</mat-option>
                <mat-option value="In Bearbeitung" >In Bearbeitung</mat-option>
                <mat-option value="erledigt">erledigt</mat-option>
                <mat-option value="verspätet erledigt">verspätet erledigt</mat-option>
              </mat-select>
            </td>
          </tr>
          <br>
          <tr>
            <!--Deletes the associated task (button under every task)-->
            <td colspan="2"><button mat-raised-button color="warn" [disabled]="deactivateDoneTasks(task)" (click)="deleteTask(tasklist.id, task.id)">Aufgabe löschen</button></td>
          </tr>
          <br>
          <mat-divider></mat-divider>
          <br>
        </div>
        <div>
          <tr>
            <!--Updates the WHOLE tasklist (tasklist_name and every task with their attributes)-->
            <td colspan="2">
              <button class="symButton" mat-raised-button color="primary" (click)="updateTasklist()">Speichern</button>
              <!--Shows / hides the "form" to create a new task-->
              <button class="symButton" mat-raised-button color="basic" *ngIf="showCreateNewTask === false" (click)="activateCreateTask()">Neue Aufgabe erstellen</button>
              <button class="symButton" mat-raised-button color="basic" *ngIf="showCreateNewTask === true" (click)="activateCreateTask()">Neue Aufgabe schließen</button>
            </td>
          </tr>
        </div>
      </table>
    </div>
    <br>
    <!--Shows a new "form", if the user wants to create a new task-->
    <table *ngIf="showCreateNewTask === true">
      <tr>
        <td>Aufgabe:</td>
        <td>
          <mat-form-field class="newTasklist">
            <input matInput placeholder="Aufgabenname" [(ngModel)]="newTask.taskname">
          </mat-form-field> 
        </td>
      </tr>
      <tr>
        <td>Beschreibung:</td>
        <td>
          <mat-form-field class="newTasklist">
            <textarea matInput placeholder="Beschreibung" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [(ngModel)]="newTask.description"></textarea> 
          </mat-form-field> 
        </td>
      </tr>
      <tr>
        <td>Umfang:</td>
        <td>
          <mat-slider color=primary [min]="1" [max]="5" [(ngModel)]="newTask.scope">
          </mat-slider>
          {{newTask.scope}}: {{scopeMeaning[newTask.scope]}}
        </td>
        <!--<td><input type="range" min="1" max="5" [(ngModel)]="newTask.scope"> {{newTask.scope}}: {{scopeMeaning[newTask.scope]}}</td>-->
      </tr>
      <tr>
        <td>Abgabetermin:</td>
        <td>
          <mat-form-field class="newTasklist">
            <input matInput [matDatepicker]="picker2" [(ngModel)]="newTask.deadline">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>Status:</td>
        <td>
          <mat-select [(ngModel)]="newTask.status" placeholder="Fortschritt">
            <mat-option value="offen">offen</mat-option>
            <mat-option value="In Bearbeitung" >In Bearbeitung</mat-option>
            <mat-option value="erledigt">erledigt</mat-option>
            <mat-option value="verspätet erledigt">verspätet erledigt</mat-option>
          </mat-select>
        </td>
        <!--<td><input [(ngModel)]="newTask.status"></td>-->
      </tr>
      <br>
      <tr>
        <!--creates a new task with the values from the "form"-->
        <td colspan="2"><button mat-raised-button color="primary" (click)="createNewTask()">Neue Aufgabe speichern</button></td>
      </tr>
    </table>
  
    <!--If no task is selected:-->
    <div *ngIf="tasklist == null">
      <h1>Aufgabenlisten</h1>
      <p>Sie können eine Aufgabenliste mit einem Klick auswählen.</p>
    </div>
  </div>
</mat-card>