<!--
  Tasklist-Template
  Template for html-main part. (Everything on the right side under "Aufgabenlisten")
-->
<!--Shows only a tasklist, when it was selected by user-->
<div *ngIf="tasklist != null">
  <!--Tasklist-name with two-way-binding, for easy name changing-->
  <h1><input [(ngModel)]="tasklist.tasklist_name"></h1>
  <table>
    <!--Shows every task with its attributes in selected tasklist-->
    <div *ngFor="let task of tasklist.ownTasks">
      <div style="display: none;" [hidden]="deactivateDoneTasks(task)"></div>
      <tr>
        <td>Aufgabe:</td>
        <td><input [disabled]="taskDone" [(ngModel)]="task.taskname"></td>
      </tr>
      <tr>
        <td>Beschreibung:</td>
        <td><input [disabled]="taskDone" [(ngModel)]="task.description"></td>
      </tr>
      <tr>
        <td>Umfang:</td>
        <td><input type="range" min="1" max="5" [disabled]="taskDone" [(ngModel)]="task.scope"> {{task.scope}}: {{scopeMeaning[task.scope]}} </td>
      </tr>
      <tr>
        <td>Abgabetermin:</td>
        <td><input type="date" datetime="yyyy-MM-dd" [disabled]="taskDone" [(ngModel)]="task.deadline"></td> 
      </tr>
      <tr>
        <td>Status:</td>
        <!--<td><input [disabled]="taskDone" [(ngModel)]="task.status"></td>-->
        <td>
          <select [(ngModel)]="task.status" [disabled]="taskDone">
            <option value="offen" [selected]="task.status == 'offen'">offen</option>
            <option value="In Bearbeitung" [selected]="task.status == 'In Bearbeitung'">In Bearbeitung</option>
            <option value="erledigt" [selected]="task.status == 'erledigt'">erledigt</option>
            <option value="verspätet erledigt" [selected]="task.status == 'verspätet erledigt'">verspätet erledigt</option>
          </select>
        </td>
      </tr>
      <tr>
        <!--Deletes the associated task (button under every task)-->
        <td><button (click)="deleteTask(tasklist.id, task.id)">Aufgabe löschen</button></td>
      </tr>
    </div>
    <div>
      <tr>
        <!--Updates the WHOLE tasklist (tasklist_name and every task with their attributes)-->
        <td><button (click)="updateTasklist()">Speichern</button></td>
        <td>
          <!--Shows / hides the "form" to create a new task-->
          <button *ngIf="showCreateNewTask === false" (click)="activateCreateTask()">Neue Aufgabe erstellen</button>
          <button *ngIf="showCreateNewTask === true" (click)="activateCreateTask()">Neue Aufgabe schließen</button>
        </td>
      </tr>
    </div>
  </table>
</div>
<!--Shows a new "form", if the user wants to create a new task-->
<table *ngIf="showCreateNewTask === true">
  <tr>
    <td>Aufgabe:</td>
    <td><input [(ngModel)]="newTask.taskname"></td>
  </tr>
  <tr>
    <td>Beschreibung:</td>
    <td><input [(ngModel)]="newTask.description"></td>
  </tr>
  <tr>
    <td>Umfang:</td>
    <td><input type="range" min="1" max="5" [(ngModel)]="newTask.scope"> {{newTask.scope}}: {{scopeMeaning[newTask.scope]}} </td>
  </tr>
  <tr>
    <td>Abgabetermin:</td>
    <td><input type="date" [(ngModel)]="newTask.deadline"></td>
  </tr>
  <tr>
    <td>Status:</td>
    <select [(ngModel)]="newTask.status">
      <option value="offen">offen</option>
      <option value="In Bearbeitung" >In Bearbeitung</option>
      <option value="erledigt">erledigt</option>
      <option value="verspätet erledigt">verspätet erledigt</option>
    </select>
    <!--<td><input [(ngModel)]="newTask.status"></td>-->
  </tr>
  <tr>
    <!--creates a new task with the values from the "form"-->
    <td><button (click)="createNewTask()">Neue Aufgabe speichern</button></td>
  </tr>
</table>

<!--If no task is selected:-->
<div *ngIf="tasklist == null">
  <h1>Aufgabenlisten</h1>
  <p>Sie können eine Aufgabenliste mit einem Klick auswählen.</p>
</div>