<!--
  Main Template
  Contains nearly all relevant html (navigation & tasklists)
  PROBLEM: data acces, when navigation is an own component (therfore nav & main together)
-->
<div class="wrapper mat-app-background">
  <nav>
    <h2>Navigation</h2>
      <ul>
        <li><app-login></app-login></li>
        <br><hr><br>
        <li><h3>Aufgabenlisten:</h3></li>
        <ul>
          <li *ngFor="let tasklist of tasklists" (click)="selectTasklist(tasklist)">
            {{ tasklist.tasklist_name }}
            <button mat-button color="warn" (click)="deleteTasklist(tasklist)">X</button>
          </li>
        </ul>
        <br><hr><br>
        <li>
          <mat-form-field>
            <input matInput placeholder="Neuer Listenname" [(ngModel)]="newTasklist.tasklist_name">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="createTasklist()">Neue Aufgabenliste erstellen</button>
        </li>
      </ul>
  </nav>
  <main>
    <app-tasks [tasklist]="tasklist"></app-tasks>
    <br>
    <br>
    
  </main>
</div>