<!--
  Main Template
  Contains nearly all relevant html (navigation & tasklists)
  PROBLEM: data acces, when navigation is an own component (therfore nav & main together)
-->
<div class="wrapper">
  <nav>
    <h2>Navigation</h2>
      <ul>
        <li><app-login (event)='setIDfromLogin($event)'></app-login></li>
        <br><hr><br>
        <li><h3>Aufgabenlisten:</h3></li>
        <ul>
          <li *ngFor="let tasklist of tasklists" (click)="selectTasklist(tasklist)">
            {{ tasklist.tasklist_name }}
            <button (click)="deleteTasklist(tasklist, user_id)">X</button>
          </li>
        </ul>
        <br><hr><br>
        <li>
          <input placeholder="Neuer Listenname" [(ngModel)]="newTasklist.tasklist_name">
          <button (click)="createTasklist(user_id)">Neue Aufgabenliste erstellen</button>
        </li>
      </ul>
  </nav>
  <main>
    <app-tasks [tasklist]="tasklist" [user_id]= "user_id" ></app-tasks>
    <br>
    <br>
    
  </main>
</div>