<div class="mat-app-background">
  <h3>Anmelden</h3>
  <form>
    <mat-form-field>
      <input matInput #username type="text" placeholder="Benutzername" (input)="inputUser.name=username.value">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput  #password type="password" placeholder="Passwort" (input)="inputUser.pwd=password.value">
    </mat-form-field>
    <button id="loginButton" mat-raised-button color="primary" (click)="login()" [disabled]="logged" >Anmelden</button>
    <button id="logoutButton" mat-raised-button color="primary" (click)="logout()" [disabled]="notLogged" >Log out</button>
    
  </form>
</div>