<!--
  Eigentliches MAIN template in dem alles zusammen gefügt werden sollte (was wir aktuell in der todolistComponent machen)
  Nach Möglichkeit sollten wir von der todolist hierhin einiges outsourcen, wie vor allem die Navigation
-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body class="mat-app-background">
  <header class="mat-elevation-z2">
    <p>
      <mat-toolbar color="primary">
        <span>To-Do-Liste</span>
      </mat-toolbar>
    </p>
  </header>
  <div class="wrapper">
    <app-todolist></app-todolist>
  </div>
  <footer class="footer">
    <div layout="row" layout-align="center center">
      <mat-toolbar color="primary">Erstellt von Joemollytana und davidbhrs</mat-toolbar>
    </div>
  </footer>
</body>
